.header {
  background: $Light-opMedToInvisible;
  padding: 20px 50px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  font-family: $Osw-Bld;
  text-align: center;
  &_img {
    width: 150px;
    height: auto;
  }
  &_titleBox {
    &_title {
    color: $blue;
      font-size: $xxBig;
      @include for-size(tablet-portrait-up) {
        //font-size: 3rem;
      }
    }
    &_subTitle {
      color: $purple;
      margin-top: 10px;
      font-size: $Reg;
      text-align: left;
      @include for-size(tablet-portrait-up) {
        //font-size: 3rem;
      }
      &_link {

      }
    }
  }
}
