// OSWALD -----------------------------
@font-face {
	font-family: "Oswald-ExtraLight";
    src: url('../assets/fonts/Oswald/Oswald-ExtraLight.ttf');
}
@font-face {
	font-family: "Oswald-Light";
    src: url('../assets/fonts/Oswald/Oswald-Light.ttf');
}
@font-face {
	font-family: "Oswald-Regular";
    src: url('../assets/fonts/Oswald/Oswald-Regular.ttf');
}
@font-face {
	font-family: "Oswald-SemiBold";
    src: url('../assets/fonts/Oswald/Oswald-SemiBold.ttf');
}
@font-face {
	font-family: "Oswald-Bold";
    src: url('../assets/fonts/Oswald/Oswald-Bold.ttf');
}

// SABLO27PX --------------------------
@font-face {
	font-family: "Lobster-Regular";
    src: url('../assets/fonts/Lobster-Regular.ttf');
}
